body {
  background-color: #b2afac;
  color: #292824; }

header, nav {
  background-color: #ffce2b; }

nav {
  background-image: -webkit-linear-gradient(left, rgba(41, 40, 36, 0.7), rgba(41, 40, 36, 0));
  background-image: linear-gradient(to right, rgba(41, 40, 36, 0.7), rgba(41, 40, 36, 0)); }

.brick {
  border-color: #292824; }

.live-brick {
  background: #ffce2b;
  box-shadow: 1px 1px 3px rgba(10, 22, 18, 0.5); }

.dead-brick {
  background-color: #b2afac; }

a {
  color: #292824; }

#gadget-tetris {
  border-color: #ffce2b; }

.gadget-numeros > .fake-button {
  color: #292824;
  background-color: #ffce2b; }

#gadget-tetris, .gadget-numeros {
  background-color: #959492; }

.gadget-numeros {
  background-color: #000080;
  color: #b2afac; }

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 110%; }

[lang='fr'] {
  font-family: 'Dancing Script', cursive; }

body {
  margin: 0; }

main, footer, .gadgets-container {
  max-width: 48rem; }

header, nav {
  max-width: 50rem; }

header, nav {
  width: 100%;
  font-size: 75%; }

header {
  margin-bottom: 0; }

nav {
  position: fixed;
  bottom: 0;
  opacity: 0.9;
  margin-top: 0;
  background-size: 100% 2px;
  background-position: 0 0, 100% 0;
  background-repeat: no-repeat; }
  nav ul {
    margin-top: 0;
    padding: 0 0 0.5em 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; }
    nav ul li {
      list-style: none;
      width: 40%;
      align-self: flex-start;
      text-align: left; }
      nav ul li:nth-child(2n+1) {
        padding: 0.5em 0 0 1.5em; }
      nav ul li:nth-child(2n) {
        padding: 0.5em 1.5em 0 0; }

footer {
  padding-bottom: 5rem; }

h1 {
  padding: 0.5em;
  margin-bottom: 0; }

h2 {
  padding-left: 2rem; }

p {
  text-indent: 2rem; }

li {
  padding-left: 2em; }

a {
  text-decoration: none; }

header a, nav a {
  font-size: 120%;
  padding: 0 0.1em; }

main a, footer a {
  text-decoration: underline; }

.full-header {
  display: none; }

.abbreviated-header {
  display: block; }

em {
  padding-right: 0.1em; }

dl.accordion dt {
  cursor: pointer;
  font-size: 110%;
  line-height: 1.8em;
  text-decoration: underline; }

.offset-anchor {
  margin-top: -2rem;
  padding-top: 2rem; }

#gadget-tetris {
  border-width: 0 2px 2px 2px;
  border-style: solid;
  max-width: 5rem;
  min-width: 5rem;
  height: 10rem;
  position: relative; }

#well {
  width: 5rem;
  height: 10rem;
  position: absolute;
  top: 0; }

.screenshot {
  max-width: 90%; }

.gadget-numeros {
  z-index: 10; }

.score-display {
  display: block;
  text-align: right;
  margin-right: 0.5em;
  z-index: 5;
  opacity: 0.8;
  position: relative;
  top: 0.25em; }

.gadget-numeros {
  height: 10rem;
  margin-left: 0.5rem;
  display: flex;
  flex-flow: column; }
  .gadget-numeros .fake-button {
    flex: 1;
    min-width: 51%;
    margin: 0.3rem 0.5rem 0;
    padding: 0;
    text-align: center; }
  .gadget-numeros .fake-button:last-of-type {
    margin-bottom: 0.5rem; }
  .gadget-numeros .gadget-header {
    flex: 1;
    min-width: 51%;
    text-align: center;
    margin: 0 auto;
    padding: 0.5em 0.5em 1em;
    font-size: 80%; }

.game-legend, .gadget-header {
  margin-top: 0; }

main, footer, .gadgets-container {
  line-height: 1.5em;
  margin: 2rem 1.5rem 0; }

.gadgets-container {
  display: flex;
  justify-content: space-around; }

.brick {
  position: absolute;
  border-width: 1px 1px 2px 1px;
  border-style: solid inset;
  width: 16.667%;
  height: 8.333%; }

.hidden {
  opacity: 0; }

@media (min-width: 27rem) {
  main {
    margin: 1rem; }

  header {
    position: fixed;
    top: 0;
    opacity: 0.9;
    height: 5rem;
    z-index: 10;
    font-size: initial; }

  h1 {
    padding-left: 1em;
    text-align: left;
    padding-top: 0.75em; }

  /*    #numeros .gadget-numeros {
          max-width: 60%;
          float: right;
      }  */
  .screenshot {
    max-width: 50%;
    float: left;
    margin-right: 2rem; }

  .screenshot-even {
    float: right;
    margin-left: 2rem;
    margin-right: 0; }

  nav {
    position: fixed;
    opacity: 0.9;
    top: 4.99rem;
    z-index: 10;
    bottom: auto; }
    nav ul {
      -ms-flex-pack: distribute;
      justify-content: space-around;
      align-content: space-around;
      width: 100%; }
      nav ul li {
        min-width: inherit;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        display: inline-block;
        text-align: center; }
        nav ul li:nth-child(n) {
          padding: 0.5em 0 0 0.5em; }
        nav ul li:hover a {
          text-decoration: underline; }
        nav ul li:last-child {
          padding-right: 2em; }

  footer {
    padding-bottom: 2rem; }

  main {
    padding-top: 2rem; }

  nav:hover {
    opacity: 1; }

  .offset-anchor {
    padding-top: 9rem;
    margin-top: -8rem; }

  #gadgets {
    margin-top: 0; }

  .full-header {
    display: block; }

  .abbreviated-header {
    display: none; }

  .gadget-numeros {
    flex-flow: row wrap; }
    .gadget-numeros .gadget-header {
      line-height: 1.5em;
      min-width: 90%;
      width: 90%;
      font-size: inherit;
      margin-top: 1.4rem; }
    .gadget-numeros .fake-button {
      min-width: 20%;
      flex: 1;
      height: 2em;
      line-height: 2em;
      vertical-align: middle;
      margin-bottom: 1.4rem; }
    .gadget-numeros .fake-button:first-of-type {
      margin-left: 0.75rem; }
    .gadget-numeros .fake-button:last-of-type {
      margin-right: 0.75rem; } }
@media (min-width: 35rem) {
  nav {
    font-size: initial; } }

/*# sourceMappingURL=style.css.map */
